django-haystack==2.4.1
Django==1.8.15
argparse==1.2.1
git+https://github.com/jschwab/django-activelink@0c3a63745a7d627ba16efae39e1ec7bec12336d0
django-extensions==1.6.7
django-hvad==1.5.1
django-registration-redux==1.4
django-rosetta==0.7.11
django-selectable==0.9.0
django-tables2==1.2.3
django-qsstats-magic==0.7.2
djangorestframework
python-dateutil==1.5
nose==1.3.7
six==1.8.0
wsgiref==0.1.2
celery==5.2.2
fuzzywuzzy==0.3.2
-e git://github.com/catalpainternational/health_service@add_app_label#egg=health_service-dev
-e git://github.com/catalpainternational/simple_locations@master#egg=simple_locations
-e git://github.com/catalpainternational/django-cache-utils#egg=django-cache-utils
-e git://github.com/catalpainternational/django-endless-pagination.git#egg=django_endless_pagination-master
-e git://github.com/catalpainternational/rapidsms.git@django_19#egg=RapidSMS
phonenumbers==6.2.0
Whoosh==2.6.0
xmltodict==0.9.0
xlwt==0.7.5
django-cors-middleware==1.2.0
mock==1.3.0
funcsigs==0.4
pbr==1.8.1
django-model-utils==2.5
factory-boy==2.6.1
django-behave==0.1.5
django-tracking2==0.3.1
django-json-field==0.5.7
django-template-analyzer==1.6.1

# These non-stdlib bindings for OpenSSL are here bco https://github.com/catalpainternational/liga-inan/issues/579
# On a more modern Python (2.7.9+) we just need the requests package, no need to install alternative bindings,
# but then you also need to remove the monkey-patching from
# liga_inan_project/liga_inan_project/__init__.py .
urllib3==1.16
requests==2.10.0
responses==0.5.1 # mocking for requests
pyOpenSSL==16.0.0
ndg-httpsclient==0.4.1
pyasn1==0.1.9

psycopg2==2.4.5

splinter==0.7.3
chromedriver==2.21.1
django-nose==1.4.4

whitenoise==3.2.1
uwsgi


